%header
  .header-wrapper.centeredContainer
    %a(href="#{root_path}" title="Ladder Manager") Ladder Manager
    %span.text-muted (alpha)
    %span.pull-right
      %a(href="mailto:mmehlhope@gmail.com" title="Submit feedback") Submit Feedback
      |
      %a(href="#{release_notes_path}" title="Release notes") Release notes