- flash.each do |key, messages|
  - case key
  - when :notice
    - style = "alert-info"
  - when :success
    - style = "alert-success"
  - when :alert
    - style = "alert-warning"
  - when :error
    - style = "alert-danger"
  .alert.alert-dismissable.text-left(class="#{style ? style : ''}")
    %button.close(type="button" data-dismiss="alert")
      %span.glyphicon.glyphicon-remove
    - if messages.is_a?(Array) && messages.length == 1
      = messages[0]
    - elsif messages.is_a?(String)
      = messages
    - else
      %ul
        - messages.each do |message|
          %li= message
