- flash.each do |key, messageArr|
  - case key
  - when :notice
    - style = "alert-info"
  - when :success
    - style = "alert-success"
  - when :alert
    - style = "alert-warning"
  - when :error
    - style = "alert-danger"
  .alert.alert-dismissable.text-left(class="#{style ? style : ''}")
    %button.close(type="button" data-dismiss="alert")
      %span.glyphicon.glyphicon-remove
    - if messageArr.length == 1
      = messageArr[0]
    - else
      %ul
        - messageArr.each do |message|
          %li= message