@import '../common/colors';
@import '../common/grid';
@import '../common/helpers';

// Layout
body {
  background: $bodyBg url('tactile_noise.png');
}

body, html {
  height: 100%;
  min-height: 100%;
}

header {
  margin: 0 0 1em 0;

  .ladder-props {
    float: left;
  }
}

dl {
  margin: 0.5em 0;
  dt, dd { display: block; }
  dt {
    float: left;
    color: $sidebarLinkColor;
    padding: 0.25em 0.5em 0.25em 0;
  }
  dd {
    margin: 0;
    padding: 0.25em 0 0.25em 0;
  }
}

.content-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.main {
  background: $defaultBodyBg;
  margin: 0;
  min-height: 100%;
  padding: 4em 1em 1em;
}

.section-header {
  overflow: auto;
  margin-bottom: 1em;
}
.section-title {
  margin: 0 0 1em 0;
}
.section-actions {
  @include clearfix
}
.section-actions > .btn {
  @include clearfix;
  display: block;
  text-align: center;
  width: 100%;
}

.panel {
  background: $defaultBodyBg;
  padding: 1em;
}

.messaging {
  clear: both;
  width: 100%;
}

@include breakpoint(tablet) {

  header {
    margin: 0 0 2em;
  }
  .main {
    margin-left: $sidebarContainerWidth;
    max-width: 80em;
    padding: 1.5em 3em;

  }
  .section-title {
    float: left;
    margin: 0;
  }
  .section-actions {
    float: right;
  }
  dl {
    dd, dt {
      display: inline-block;
      float: none;
    }
    dt {
      border-left: 1px solid $tableBorder;
      padding: 0 0 0 0.5em;

      &:first-child {
        padding: 0;
        border: none;
      }
    }
    dd {
      padding: 0 0.5em 0 0;
    }
  }

  .user-auth-wrapper {
    width: $smallContainerWidth;
    margin: 0 auto;
  }
}