@import '../common/grid';
@import '../common/helpers';

// Layout
body {
  background: $bodyBg;
}

body, html {
  height: 100%;
  min-height: 100%;
}

header {
  margin: 1em 0;

  .ladder-props {
    float: left;
  }
}

dl {
  margin: 0.5em 0 0;
  dt, dd { display: inline-block; }
  dt {
    color: $sidebarLinkColor;
    border-left: 1px solid $sidebarLinkColor;
    padding: 0 0 0 0.5em;
    &:first-child {
      padding: 0;
      border: none;
    }
  }
  dd {
    margin: 0;
    padding: 0 0.5em 0 0;
  }
}

.content-wrapper {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

.main {
  min-height: 100%;
  padding: 4em 1em 1em;
  margin: 0;
}

.section-header {
  overflow: auto;
  margin-bottom: 1em;
}
.section-title {
  margin: 0 0 1em 0;
}
.section-actions {
  @include clearfix
}
.section-actions > .btn {
  @include clearfix;
  display: block;
  text-align: center;
  width: 100%;
}
.panel {
  background: #fff;
  padding: 1em;
}

.messaging {
  clear: both;
  width: 100%;
}

@include breakpoint(tablet) {
  header {
    margin: 0 0 2em;
  }
  .main {
    margin-left: $sidebarContainerWidth;
    padding: 1.5em 3em;
  }
  .section-title {
    float: left;
    margin: 0;
  }
  .section-actions {
    float: right;
  }
}