@import '../common/grid';

// Layout
body {
  background: $bodyBg;
}

body, html {
  height: 100%;
  min-height: 100%;
}

header {
  margin-bottom: 2em;

  .ladder-props {
    float: left;

    dl {
      margin: 0.5em 0 0;
      dt, dd { display: inline-block; }
      dt {
        color: $sidebarLinkColor;
        border-left: 1px solid $sidebarLinkColor;
        padding: 0 0 0 0.5em;
        &:first-child {
          padding: 0;
          border: none;
        }
      }
      dd {
        margin: 0;
        padding: 0 0.5em 0 0;
      }
    }
  }
}
.table-header {
  margin-bottom: 1em;
}

.content-wrapper {
  height: 100%;
  min-height: 100%;
  width:100%;
}

.main {
  margin-left: $sidebarContainerWidth;
  min-height: 100%;
  padding: 1.5em 3em;
}


.panel {
  background: #fff;
  padding: 1em;
}

@include breakpoint(tablet) {
  .main {
    margin: 4em 0 0;
    padding: 1em;
  }
}

@include breakpoint(phone) {
  header {
    .ladder-props {
      float: none;
    }
    .btn, a.btn {
      display: block;
      float: none !important;
      margin: 1em 0 0;
      text-align: center;
    }
  }
}