@import '../common/colors';

article.release {
  padding: 2em 0;
  border-top: 1px solid $tableBorder;

  &:first-of-type {
    padding-top: 0;
    border: 0;
  }
  dl {
    margin-bottom: 1.5em;
  }
}
