%article
  %h2 Version 0.1.1
  %dl
    %dt Date:
    %dd January 2nd, 2014
  %h4 Additions
  %ul
    %li Users will now receive a welcome email with their ladder's details upon creating a new ladder.
    %li Hyphens can now be used in competitor names (Joe Smith-Johnson)
    %li Competitor values are now populated based on user selection when creating a new match.
    %li Matches resulting in a tie or matches containing games that result in a tie are now handled more gracefully.
  %h4 Bug fixes
  %ul
    %li Non-admin users will no longer see a message to 'record a match' on a ladder's detail page.
    %li Competitors can no longer be accidentally pitted against oneself in a match.
    %li Errors displayed on the
    %li Competitor losses are calculated more reliably