%article.release
  %h2 Version 1.0.1
  %dl
    %dt Date:
    %dd July 8th, 2014
  %h3 Changes
  %ul
    %li Ladder Management tabs now read "Edit Competitors" and "Edit Matches", based on user feedback.
    %li The Ladder Manager Logo now links back to the user's organization or the home page depending on logged-in status.
    %li Tabs and navigation hover states have been updated.
    %li "Back to Organization" link removed from my "My Account" page because it didn't make sense.
  %h3 Bug Fixes
  %ul
    %li Fixed issue where you could create more than one organization in rare cases.
    %li Hitting the back button no longer results in showing a cached (and often incorrect) version of highly dynamic pages (i.e., Ladder Management, Organization, etc.)
    %li Deleting the last game in a match will no longer ask if you also want to delete the match itself. Deleting a match is a separate task.
    %li Source code (zip)
