%article.release
  %h2 Version 1.0.0
  %dl
    %dt Date:
    %dd July 7th, 2014
  %h3 Additions
  %ul
    %li Organizations and accounts have now been implemented. All users within an organization have the ability to create and manage ladders.
    %li Users will now receive a welcome email once they have created their organization.
    %li Users may now update their account information via the "My Account" link within the navigation.
    %li When an administrator is added to an organization, that new user will receive an invitation email with user credentials for his/her first sign in.
    %li The entire UI has been updated. If any bugs are encountered, please do not hesitate to use the feedback icon to submit feedback.
    %li Users now may enjoy Ladder Manager on their mobile device.
    %li Users may now search for public ladders given the various search boxes found across the application. All ladders are currently public.
