- content_for(:title, "Release notes")
%section.col-medium.centeredContainer.container-small-offset
  %h1= yield(:title)
  .panel.panel-full-padding
    = render 'includes/message' if flash_message?
    .alert.alert-info
      %span.glyphicon.glyphicon-info-sign
      Have a suggestion?
      %a(href="mailto:mmehlhope@gmail.com") Submit feedback

    %h2 Patch 0.1.1
    %p.text-muted January 2nd, 2014
    %h4 Additions
    %ul
      %li Users will now receive a welcome email with their ladder's details upon creating a new ladder.
      %li Hyphens can now be used in competitor names (Joe Smith-Johnson)
      %li Competitor values are now populated based on user selection when creating a new match.
      %li Matches resulting in a tie or matches containing games that result in a tie are now handled more gracefully.
    %h4 Bug fixes
    %ul
      %li Non-admin users will no longer see a message to 'record a match' on a ladder's detail page.
      %li Competitors can no longer be accidentally pitted against oneself in a match.
      %li Errors displayed on the
      %li Competitor losses are calculated more reliably

    %h2 Version 0.1.0
    %p.text-muted January 1st, 2014
    %h4 Additions
    %ul
      %li Users can create new ladders and set up an administrator for said ladder.
      %li Users can view ladders, matches, and games associated with a ladder.
      %li Administrators of a ladder can add, remove, and edit competitors
      %li Administrators of a ladder can add, remove, and edit matches
      %li Administrators of a ladder can add, remove, and edit games
      %li
        Administrators of a ladder can finalize a match, resulting in the adjustment of each
        competitor's ELO rating and record.
      %li Administrators can edit the name and email associated with their ladder.
    %h4 TO-DOs
    %ul
      %li Administrators can not currently change or recover their password.
      %li It is tedious to enter one competitor at a time to a ladder
      %li The welcome email is temporary and needs updating.
