= form_tag(sessions_path, class: 'full-width paneled', method: :post) do
  .field
    .form-group
      %input.form-control(name="email" type="text" placeholder="Account email")
  .field
    .form-group
      %input.form-control(name="password" type="password" placeholder="Password")
  = submit_tag("Log in", :class => 'button button-primary')
  %a.button(href="#{root_path}" title="Cancel") Create Account