= form_tag(sessions_path, class: 'full-width', method: :post) do
  .field
    .form-group
      %input.form-control(name="email" type="text" placeholder="Email")
  .field
    .form-group
      %input.form-control(name="password" type="password" placeholder="Password")
  = submit_tag("Log in", :class => 'btn btn-primary btn-block')
  / ADD RESET PASSWORD BUTTON
  / %a.btn(href="#{new_user_path}" title="Cancel") Create Account