- content_for(:title, "Login")
%section.col-xsmall.centeredContainer.container-small-offset
  .text-center
    = image_tag('ladder-manager-logo-black.svg', :class => "logo", :width => '10em')
  = render 'includes/message' if flash_message?
  = render 'user_login_form'
