- content_for(:title, "Login")
%section.col-small.centeredContainer.container-large-offset
  %h1.panelHeading= yield(:title)
  .panel.panel-padded
    = render 'includes/message' if flash_message?
    = render 'user_login_form'
