- content_for(:title, "Request an invite to Ladder Manager")
- content_for(:description, "Request an invite to Ladder Manager")

= form_tag(request_invite_path, method: :post, class: "full-width") do
  %h2 Request an invite to Ladder Manager's Alpha
  = render "includes/message"

  %div.form-group
    %input(type="email" name="signup[email]" autofocus="true" placeholder="Email address" required="required")

  %button.btn.btn-primary.btn-block(type="submit") Request an invite
- content_for :footer do
  .auth-links
    %a.subdued(href="#{new_user_session_path}" title="Already have an invite? Sign in.") Already have an invite? Sign in!
