- content_for(:title, "ELO ladders made beautifully simple")
%div.col-medium.container-large-offset.centeredContainer.text-center
  %h1.titleize Ladder Manager
  %h2.tagline
    Compete. Record. Compare.
    %br
    Ranked ladders made beautifully simple.
  %div.col-small.centeredContainer
    %a.btn.btn-primary.btn-lg.btn-block(href="#{new_ladder_path}" title="Create new ladder") Create a New Ladder
    %p.spacer-text
      or
    = form_tag(ladders_search_path, method: :post) do
      .field
        .input-group
          %input.input-lg.form-control(name="id" type="text" placeholder="Enter existing ladder id")
          %span.input-group-btn
            = submit_tag("Load", :class => 'btn btn-primary btn-lg')
    = render 'includes/message' if flash_message?