- content_for(:title, "Head-to-head competition made simple")
- content_for(:description, "Ladder Manager makes tracking head-to-head competition simple for any organization, large or small.")

= form_tag(request_invite_path, method: :post, class: "full-width text-center") do
  %h2 Request an invite to Ladder Manager
  = render "includes/message"

  %div.form-group
    %input.text-center(type="email" name="signup[email]" autofocus="true" placeholder="Email address" required="required")

  %button.btn.btn-primary.btn-block(type="submit") Request an invite
- content_for :footer do
  .auth-links
    %a.subdued(href="#{new_user_session_path}" title="Already have an invite? Sign in.") Already have an invite? Sign in!
    %br
    %a.subdued(href="#{about_path}" title="Curious? Read the FAQs") Check out the FAQs in the meantime
