%table.games-table
  %thead
    %th.status Game #
    %th.competitor Competitor 1 Score
    %th.competitor Competitor 2 Score
  %tbody
    - gameNum = 0
    - games.each do |game|
      - gameNum += 1
      %tr
        %td.number= gameNum
        %td #{game.competitor_1_score}
        %td #{game.competitor_2_score}
