- content_for(:title, "Edit game" )
%section.col-small.centeredContainer.container-large-offset
  %h1.panelHeading= yield(:title)
  .panel.panel-padded
    = render 'includes/message' if flash_message?
    = render 'edit'
