.col-md-8.centeredContainer
  .panel.panel-default
    .panel-heading.clearfix
      %h2.panel-title Add new game to match #{@match.id}
      .panel-actions
        %a(href="#{match_path(@match)}") Back to match
    .panel-body
      = render 'create'