%div.col-small.centeredContainer.container-large-offset
  %h1.panelHeading
    Add game to Match ##{@match.id}
  .panel.panel-full-padding
    = render 'includes/message' if flash_message?
    = render 'create'