- content_for(:title, "Add Game to Match ##{@match.id}" )
%section.col-small.centeredContainer.container-large-offset
  %h1.panelHeading= yield(:title)
  .panel.panel-full-padding
    = render 'includes/message' if flash_message?
    = render 'create'