%div.col-small.centeredContainer.container-large-offset
  %h1.panelHeading
    Add game to
    %a(href="#{match_path(@match)}") Match #{@match.id}
  .panel.panel-full-padding
    = render 'includes/message' unless flash.nil?
    = render 'create'