%ol.list-view
  - if competitors.size > 0
    - competitors.each do |competitor|
      %li.list-item
        .list-item-content
          .name
            = link_to competitor.name, competitor_path(competitor)
          %dl
            %dt Record:
            %dd #{competitor.wins}W - #{competitor.losses}L
            %dt Rating:
            %dd= competitor.rating
  - else
    %li
      No competitors have been added to this ladder yet.