.col-md-8.centeredContainer
  .panel.panel-default
    .panel-heading.clearfix
      %h2.panel-title Rename ladder
      .panel-actions
        %a(href="#{ladder_path(@ladder)}") Back to ladder
    .panel-body
      = render 'form'
