%section.main
  = render :partial => "includes/user_header"
  = render 'includes/message'

  %section.ladders

- content_for :footer do
  :coffeescript
    require ['backbone/pages/ladders_index'], (LaddersIndexPage) ->
      new LaddersIndexPage(
        organization: #{@organization_json}
        ladders: #{@ladders_json}
      )

