%div.col-small.centeredContainer.container-large-offset
  %h1.panelHeading New Competitor
  .panel.panel-padded
    - if alert
      .alert.alert-danger.alert-dismissable.text-left= alert
    = render 'create'
