.container-large-offset.centeredContainer.text-center
  %h1.titleize Add new competitor
  .small-content-wrapper.centeredContainer
    - if alert
      .alert.alert-danger.alert-dismissable.text-left= alert
    = render 'create'
