- content_for(:title, "New Competitor")
%div.col-small.centeredContainer.container-large-offset
  %h1= yield(:title)
  .panel.panel-padded
    = render 'includes/message' if flash_message?
    = render 'create'
