%div.col-small.centeredContainer.container-large-offset
  %h1.panelHeading Record a match
  .panel.panel-full-padding
    - if alert
      .alert.alert-danger.alert-dismissable.text-left= alert
    = render 'create'
