- content_for(:title, "Record a new match")
%div.col-small.centeredContainer.container-large-offset
  %h1.panelHeading= yield(:title)
  .panel.panel-full-padding
    .alert.alert-info
      %span.glyphicon.glyphicon-info-sign
      Select your competitors for the match.
    = render 'includes/message' if flash_message?
    = render partial: 'create', locals: {competitors_hash: @competitors_hash}
