// Colors

// General
$bodyBg: #fff;
$bodyText: #242424;
$headerBg: #333;
$link: #ff7e00;
$sidebarLinkColor: #646464;

/////////////
// Buttons //
/////////////
$defaultButtonBg: #fff;
$defaultButtonText: $bodyText;
// primary
$primaryButtonText: #fff;
$primaryButtonBg: $bodyText;
$primaryButtonHighlight: lighten($primaryButtonBg, 5%);
// danger
$dangerButtonBg: #bb0000;
$dangerButtonHighlight: lighten($dangerButtonBg, 5%);
// success
$successButtonBg: #00bb00;
$successButtonHighlight: lighten($successButtonBg, 5%);
// info
$infoButtonBg: #0065bb;
$infoButtonHighlight: lighten($infoButtonBg, 5%);

///////////
// Forms //
///////////
$inputBorderColor: #bdbdbd;
$inputFocusBorderColor: $bodyText;

// Panels
$panelHeaderBg      : #2C333A;
$panelTitleColor    : $headerBg;

// Tables
$tableBg            : $bodyBg;
$tableBorder        : lighten($inputBorderColor, 20%);

// Breadcrumbs
$breadcrumbBg       : #343C46;
$breadcrumbColor    : $tableBorder;
$breadcrumbLinkColor: lighten($link, 20%);