@import 'colors';

form {
  label {
    display: block;
    padding: 0 0 0.5em 0;
  }
  &.paneled {
    padding: 1em;
    border-radius: 0.4em;
    box-shadow: 0 0 0.75em rgba(0,0,0,0.2);
    background: $defaultBodyBg;
    margin-bottom:1em;
  }
  &.padded {
    padding: 1em;
  }
  &.full-width {
    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="date"],
    input[type="email"],
    fieldset,
    textarea,
    select {
      width: 100%;
    }
  }
  &.inline-edit {
    label {
      display: inline;
      padding: 0 0.5em 0;
    }
    input[type="text"],
    input[type="password"],
    input[type="search"],
    input[type="email"],
    textarea {
      background:transparent;
      border-color: transparent;

      &:hover {
        background: inherit;
        border-color: inherit;
      }
    }
  }
  .input-group {
    position: relative
  }
  .form-group {
    margin-bottom: 1em;
  }
}
.search-button {
  background: 0;
  border: 0;
  color: $defaultButtonText;
  position: absolute;
  right: 0.25em;
  top: 0.6em;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea {
  // box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  border: 1px solid $inputBorderColor;
  padding: 0.625em 1em;
  color: $defaultButtonText;

  &:focus {
    border-color: $inputFocusBorderColor;
    outline: none;
  }
  &.input-small {
    font-size: 0.83333em;
    padding: 0.5em 1em;
  }
}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="email"][disabled],
input[type="radio"][disabled],
input[type="checkbox"][disabled],
textarea[disabled],
fieldset[disabled] > * {
  cursor: not-allowed;
}