@import 'colors';

///////////////////
// Atomic Styles //
///////////////////

// Positional

@mixin clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
.clearfix {
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.centeredContainer {
  float:none;
  margin-left: auto;
  margin-right: auto;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

// Dimensional
.block {
  display: block;
}
.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}

// bits
.badge {
  background: $badgeBg;
  border-radius: 1em;
  color: $badgeText;
  font-size: 0.8em;
  padding: 0.25em 0.75em;
}

// color
.success-text { color: $successButtonBg; }
.danger-text { color: $dangerButtonBg; }
.info-text { color: $infoButtonBg; }

// Accessibility
.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
