@import 'colors';

.list-view {
  padding: 0;

  > .list-item {
    border-top: 1px solid $tableBorder;
    margin: 0;
    padding: 0;
    position: relative;
    &:first-child {
      border-top: none;
    }
  }
  .list-item-content {
    padding: 1em 25% 1em 0em;
  }
  .competitor-avatar {
    background: $tableBorder;
    color: #fff;
    float: left;
    font-size: 3em;
    margin: 0 0.5em 0 0;
    padding: 0.05em;

    .glyphicon {
      display: block;
    }
  }
  .name {
    font-size: 1.2em;
  }

  .list-item-actions {
    position: absolute;
    top: 1em;
    right: 0;
  }
}

ul.list-view {
  list-style: none;
}

ol.list-view {
  list-style-type: decimal-leading-zero;
  padding-left: 2em;
}

ol.list-view.bordered,
ul.list-view.bordered {
  .list-item-content {
    padding: 1em 25% 1em 1em;
  }
  .list-item-actions {
    right: 1em;
  }
}