@import 'grid';
@import 'colors';

// Default list view

.list-view {
  padding: 0;

  > .list-item {
    border-top: 1px solid $tableBorder;
    margin: 0;
    padding: 0;
    position: relative;
    &:first-child {
      border-top: none;
    }
  }
  .list-item-content {
    padding: 1em 25% 1em 0em;
  }
  .name {
    font-size: 1.2em;
  }

  .list-item-actions {
    box-shadow: -1em -3px 1em $bodyBg;
    position: absolute;
    top: 1em;
    right: 0;
  }
  .versus {
    color: $sidebarLinkColor;
    display: block;
  }
}

// Competitor rankings
.list-view.rankings {
  .competitor-avatar {
    background: $tableBorder;
    color: #fff;
    float: left;
    font-size: 3em;
    width: 1.1em;
    margin: 0;
    padding: 0.05em;
    position: absolute;
    right: 0;
    top: 0.3em;

    .glyphicon {
      display: block;
    }
  }
}

ul.list-view {
  list-style: none;
}

ol.list-view {
  list-style-type: decimal-leading-zero;
  padding-left: 2em;
}

ol.list-view.bordered,
ul.list-view.bordered {
  .list-item-content {
    padding: 1em 25% 1em 1em;
  }
  .list-item-actions {
    right: 1em;
  }
}

@include breakpoint(tablet) {
  .list-view .versus {
    display: inline;
  }
}