@import 'colors';

table {
  background: $tableBg;
  font-size: 1em;
  margin-bottom: 2em;
  width: 100%;

  th, td {
    text-align: left;
    padding: 1em;
  }
  th {
    background: $bodyBg;
    border-bottom: 2px solid $tableBorder;
    color: $bodyText;
    font-weight: 700;

  }
  td {
    border-top: 1px solid $tableBorder;
    font-size: 1.2em;
    vertical-align: top;

    div.cell {
      float: left;
      padding: 1em;
    }
    &.games-table-wrapper {
      border-top: 1px solid $inputBorderColor;
      position: relative;
      padding: 0;

      &:before {
        content: " ";
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $inputBorderColor;
        font-size: 0;
        height: 0;
        line-height: 0;
        position: absolute;
        top: -12px;
        bottom: 100%;
        left: 635px;
        width: 0;
      }
      &:after {
        content: " ";
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid $tableBorder;
        font-size: 0;
        height: 0;
        line-height: 0;
        position: absolute;
        top: -11px;
        bottom: 100%;
        left: 635px;
        width: 0;
      }
    }
    &.game,
    &.no-padding {
      padding: 0;
    }
  }
  tr:first-child td {
    border: none;
  }

  .detail {
    display: block;
    padding: 0 0 0.25em;
    color: $sidebarLinkColor;
    font-size: 0.8em;
  }

  // columns
  .status, .number {
    width: 150px;
  }
  .competitor {
    width: 250px;
  }
  .numGames {
    width: 120px;
  }

  &.games-table {
    color: $sidebarLinkColor;
    margin: 0;

    th, td {
      background: $tableBorder;
      font-size: 1em;
    }
    th {
      border-bottom: 1px solid $bodyBg;
      color: $sidebarLinkColor;
      font-size: 0.8em;
      font-weight: normal;
      padding: 0.5em 1.3em;
    }
    td {
      border-top: 1px solid $bodyBg;
    }
    div.cell {
      padding: 0.5em 1em;
    }
  }
  &.bordered-table {
    border: 1px solid $tableBorder;
  }
}