@import 'colors';

table {
  width: 100%;
  background: $tableBg;
  margin-bottom: 2em;

  th, td {
    text-align: left;
    padding: 1em;
  }
  tr th {
    background: $bodyBg;
    border-bottom: 2px solid $tableBorder;
    color: $bodyText;
    font-weight: 700;
  }
  tr td {
    border-top: 1px solid $tableBorder;
    font-size: 1.1em;
    vertical-align: top;

    a, a:visited, a:active {
      font-weight: bold;
      color: $bodyText;
    }
  }
  tr:first-child td {
    border: none;
  }

  .detail {
    display: block;
    padding: 0.24em 0 0;
    color: $sidebarLinkColor;
    font-size: 0.8em;
  }
}