// Typography
@import 'colors';
@import 'grid';
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600);

@mixin font-size($sizeValue: 1.4) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
@mixin text-shadow {
  text-shadow: 0 2px 3px rgba(0,0,0,0.3)
}
@mixin body-font($weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
}
@mixin header-font($weight: 300) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
}

$emBase        : 1; //default
$base          : 1.2;
$default       : 1.4;
$header        : 1.6;
$medium        : 2.4;
$large         : 3.0;
$sidebarHeader : $large;

html {
  font-size: 62.5%;
}
body {
  @include body-font;
  color: $defaultButtonText;
  @include font-size;
}

.bold {
  @include body-font(600)
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  @include header-font;
  line-height: 1;
  margin: 0;
}
section h1 {
  @include font-size($medium);
  margin: 0;
}
section h2 {
  @include header-font(600);
}

// Links

a {
  text-decoration: none;
  color: $link;

  &:visited {
    color: $link;
  }
  &:hover {
    color: lighten($link, 10%);
  }
  &:active, &:focus {
    color: darken($link, 10%);
  }

  &.subdued {
    color: $subduedLink;

    &:visited {
      color: $subduedLink;
    }
    &:hover {
      color: lighten($subduedLink, 10%);
    }
    &:active, &:focus {
      color: darken($subduedLink, 10%);
    }
  }
}

@include breakpoint(tablet) {
  section h1 {
    @include font-size($large);
  }
}
