// Typography
@import 'colors';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600);

@function emCalc($pixelBasedNum) {
  @return $pixelBasedNum / $emBaseInPx * 1em;
}
@function newEmCalc($existingEmVal, $newEmVal) {
  @return ($existingEmVal / $newEmVal) * 1em;
}

@mixin text-shadow {
  text-shadow: 0 2px 3px rgba(0,0,0,0.3)
}
@mixin body-font($weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
}
@mixin header-font($weight: 600) {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: $weight;
}

$emBaseInPx      : 10px; //default
$baseEm          : emCalc(12px);
$smallEm         : emCalc(14px);
$headerEm        : emCalc(16px);
$mediumEm        : emCalc(18px);
$largeEm         : emCalc(30px);
$sidebarHeaderEm : $largeEm;

html {
  font-size: 62.5%;
}
body {
  @include body-font;
  color: $defaultButtonText;
  font-size: $smallEm;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  @include header-font;
  line-height: 1;
  margin: 0;
}
section h1 {
  font-size: $largeEm;
  margin: 0;

  @include breakpoint(tablet) {
    font-size: 2em;
  }
  @include breakpoint(phone) {
    font-size: 1.8em;
  }
}

// Links

a {
  text-decoration: none;
  color: $link;

  &:visited {
    color: $link;
  }
  &:hover {
    color: lighten($link, 10%);
  }
  &:active, &:focus {
    color: darken($link, 10%);
  }
}
.titleize {
  color: #fff;
  font-size: 48em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 1px;
  text-shadow: 0 2em 3em rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.panelHeading {
  color: $panelTitleColor;
  font-size: $largeEm;
  font-weight: 300;
  margin-top: 0;
}
aside .panelHeading {
  color: $panelTitleColor;
  font-weight: 300;
  font-size: $sidebarHeaderEm;
  margin-top: $largeEm - $sidebarHeaderEm +1;
}
