- content_for(:title, "Release notes")
%section.main
  %header.clearfix
    .section-title
      %h1 About Ladder Manager
    .section-actions
      %form.full-width(action="#{ladders_path}" method="GET")
        .input-group.form-group
          %input.form-control(type="search" name="query" placeholder="Search public ladders")
          %button.search-button(type="submit")
            %span.glyphicon.glyphicon-search
