!!!
%html
  %head
    %meta(content="text/html" charset="UTF-8" http-equiv='Content-Type')
  %body
    %h1 Your admin password was changed!
    %p
      If you were the one who performed the change you can safely ignore this e-mail, if not, your account may have been compromised or another administrator may have changed it.
    %p
      If you did NOT change the password...
      %a(href="mailto:mmehlhope@gmail.com?subject=Unauthorized%20Password%20Reset" title="Email me") email me
      and I will do my best to fix it!
