!!!
%html
  %head
    %meta(content="text/html" charset="UTF-8" http-equiv='Content-Type')
  %body
    %h1 Welcome to Ladder Manager!
    %h2 Manage your Organization
    %p
      Now that you've created an account, you can
      %a(href="#{@url}" title="#{@organization.name}") manage your organization
      by adding ladders and other users.
    %h2 Manage a Ladder
    %p
      Once you've created your first ladder, you can then manage that ladder and add competitors,
      matches, and games!
    %p
      Click the 'Lock' button on a match once you've recorded a few games for it. Locking a match will
      finalize the scores, updating competitor rankings and ratings.
    %h2 Submit Feedback
    %p
      Ladder Manager is still in its infancy, so if you have any feedback or suggestions,
      please press the "submit feedback" button on the site, I'd love to hear from you!
      %br
      %br
      Matt - Developer of
      %a(href="http://www.laddermanager.com" title="Ladder Manager") LadderManager.com