!!!
%html
  %head
    %meta(content="text/html" charset="UTF-8" http-equiv='Content-Type')
  %body
    %h1 Welcome to Ladder Manager!
    %h2 Manage your Organization
    %p
      Now that you've created an account, you can
      %a(href="#{@url}" title="#{@organization.name}") manage your organization
      by adding ladders and other users.
    %h2 Create a Ladder
    %p
      Go to your 
      %a(href="#{@url}" title="#{@organization.name}") organization's page
      and create your first ladder with the "New Ladder" button.
    %h2 Manage your ladder
    %p
      Once you've created your first ladder, you can then click "manage" to edit that ladder and add competitors,
      matches, and games!
    %p
      Click the 'complete' button on a match once you've recorded a few games for it. Completing a match will
      permanently finalize the scores, updating competitor rankings and ratings.
    %h2 Submit Feedback
    %p
      Ladder Manager is still in its infancy, so click on the orange chat bubble on the site to submit your feedback.
      %br
      %br
      Matt - Developer of
      %a(href="http://www.laddermanager.com" title="Ladder Manager") LadderManager.com
