<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>
      You have successfully created a new ladder on http://laddermanager.com.<br/>
      <strong>Your ladder ID is <%= @ladder.id %></strong>. Don't forget it!
    </p>
    <p>
      To go to your ladder, simply follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>