@import 'colors';

.btn,
a.btn,
input[type="submit"].btn,
input[type="reset"].btn {
  font-size: 0.75em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: $defaultButtonText;
  border: 0;
  border-radius: 0.3em;
  border: 1px solid transparent;
  border-color: $inputBorderColor;
  padding: 1em 2em;
  background-color: $defaultButtonBg;

  &:focus {
    outline: none;
    border-color: $inputFocusBorderColor;
  }
  &:hover {
    color: $primaryButtonText;
    background-color: $inputBorderColor;
  }
  &:active {
    color: $primaryButtonText;
    background-color: $primaryButtonBg;
  }

  &.btn-primary {
    color: #fff;
    background: $primaryButtonBg; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyOTI5MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyNDI0MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $primaryButtonHighlight 50%, $primaryButtonBg 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$primaryButtonHighlight), color-stop(50%,$primaryButtonBg)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $primaryButtonHighlight 50%, $primaryButtonBg 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $primaryButtonHighlight 50%, $primaryButtonBg 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $primaryButtonHighlight 50%, $primaryButtonBg 50%); /* IE10+ */
    background: linear-gradient(to bottom, $primaryButtonHighlight 50%, $primaryButtonBg 50%); /* W3C */
    border-color: $primaryButtonBg;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primaryButtonHighlight', endColorstr='$primaryButtonBg',GradientType=0 ); /* IE6-8 */

    &:hover {
      background: $primaryButtonHighlight;
    }
    &:active, &:focus {
      background: $defaultButtonText;
    }
  }
  &.btn-success {
    color: $primaryButtonText;
    background: $successButtonBg; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyOTI5MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMyNDI0MjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, $successButtonHighlight 50%, $successButtonBg 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$successButtonHighlight), color-stop(50%,$successButtonBg)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $successButtonHighlight 50%, $successButtonBg 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $successButtonHighlight 50%, $successButtonBg 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $successButtonHighlight 50%, $successButtonBg 50%); /* IE10+ */
    background: linear-gradient(to bottom, $successButtonHighlight 50%, $successButtonBg 50%); /* W3C */
    border-color: $successButtonBg;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$successButtonHighlight', endColorstr='$successButtonBg',GradientType=0 ); /* IE6-8 */

    &:hover {
      background: $successButtonHighlight;
    }
    &:active, &:focus {
      background: $defaultButtonText;
    }
  }
  &.btn-small {
    padding: 0.5em 1em;
  }
}