// Colors

// General
$bodyBg             : #fff;
$headerBg           : #333;
$link               : #428BCA;

// Panels
$panelHeaderBg      : #2C333A;
$panelTitleColor    : $headerBg;

// Tables
$tableBg            : $bodyBg;
$tableBorder        : #ddd;

// Breadcrumbs
$breadcrumbBg       : #343C46;
$breadcrumbColor    : $tableBorder;
$breadcrumbLinkColor: lighten($link, 20%);