// Colors

// General
$bodyBg: #fff;
$bodyText: #242424;
$headerBg: #333;
$link: #428BCA;

// Buttons
$defaultButtonBg: #fff;
$defaultButtonText: $bodyText;
$primaryButtonBg: $bodyText;
$primaryButtonHighlight: lighten($primaryButtonBg, 5%);
$primaryButtonText: #fff;
$dangerButtonBg: #850000;
$dangerButtonHighlight: #920d0d;
$successButtonBg: #008516;
$successButtonHighlight: #0d9223;


// Forms
$inputBorderColor: #bdbdbd;
$inputFocusBorderColor: $bodyText;

// Panels
$panelHeaderBg      : #2C333A;
$panelTitleColor    : $headerBg;

// Tables
$tableBg            : $bodyBg;
$tableBorder        : lighten($inputBorderColor, 20%);

// Breadcrumbs
$breadcrumbBg       : #343C46;
$breadcrumbColor    : $tableBorder;
$breadcrumbLinkColor: lighten($link, 20%);