$xSmallContainerWidth : 24em;
$sidebarContainerWidth: 38em;
$smallContainerWidth  : 36em;
$mediumContainerWidth : 48em;
$largeContainerWidth  : 60em;
$maxContainerWidth    : 70em;

.col-xsmall,
.col-small,
.col-medium,
.col-large,
.col-xlarge {

  float: left;
  overflow: auto;
  padding-left: 1em;
  padding-right: 1em;

  &.first {
    padding: 0 1em 0 0;
  }
  &.last {
    padding: 0;
  }
}

.col-xsmall {
  width: $xSmallContainerWidth;
}
aside {
  width: $sidebarContainerWidth;
}
.col-small {
  width: $smallContainerWidth;
}
.col-medium {
  width: $mediumContainerWidth;
}
.col-large {
  width: $largeContainerWidth;
}
.col-xlarge {
  width: $maxContainerWidth;
}

.container-small-offset {
  padding-top:3.33em
}

.container-large-offset {
  padding-top: 10em;
}
