// Typography

@import 'colors';

$basePx        : 12px;
$smallPx       : 14px;
$headerPx      : 16px;
$mediumPx      : 18px;
$largePx       : 24px;
$titlePx       : 48px;

$panelHeaderPx   : 36px;
$sidebarHeaderPx : $largePx;


@mixin century-gothic {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
@mixin text-shadow {
  text-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.titleize {
  @include century-gothic;
  color: #fff;
  font-size: 48px;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 1px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.panelHeading {
  color: $panelTitleColor;
  font-size: $panelHeaderPx;
  font-weight: 300;
  margin-top: 0;
}
.sidebarPanelHeading {
  color: $panelTitleColor;
  font-weight: 300;
  font-size: $sidebarHeaderPx;
  margin-top: $panelHeaderPx - $sidebarHeaderPx;
}
