@import 'colors';
@import 'type';

// Layout
body {
  background:$bodyBg url('/assets/ladder-manager-bg.jpg') center -250px no-repeat;
}
body, html {
  height: 100%;
  min-height: 100%;
}

.container-small-offset {
  padding-top:75px;
}

.container-large-offset {
  padding-top: 150px;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -12em;
  font-size: $mediumPx;
  line-height: 2em;
  text-align: center;
  width: 24em;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.content-wrapper {
  width: 75em;
}
.col-xsmall,
.col-small,
.col-medium,
.col-large,
.col-xlarge {

  float: left;
  padding-left: 2.5em;
  padding-right: 2.5em;

  &.first {
    padding: 0 2.5em 0 0;
  }
  &.last {
    padding: 0 0 0 2.5em;
  }
}

.col-xsmall {
  width: 15em;
}
.col-small {
  width: 30em;
}
.col-medium {
  width: 45em;
}
.col-large {
  width: 60em;
}
.col-xlarge {
  width: 75em;
}

// Bootstrap Addons
.panel-actions {
  float:right;
  margin-right:-15px;
  a {
    border-left: 1px solid $tableBg;
    color:#fff;
    display:inline-block;
    font-size:20px;
    line-height: 50px;
    padding:0 16px;
    &:hover {
      background-color:$tableBg;
      color:$panelHeaderBg;
    }
  }
}

// OO Styles
.centeredContainer {
  float:none;
  margin-left: auto;
  margin-right: auto;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}