@import 'colors';
@import 'type';

// Layout
body {
  background:$bodyBg url('/assets/ladder-manager-bg.jpg') center -250px no-repeat;
}
body, html {
  height: 100%;
  min-height: 100%;
}

.container-small-offset {
  padding-top:75px;
}

.container-large-offset {
  padding-top: 150px;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -200px;
  font-size: $mediumPx;
  line-height: 2em;
  text-align: center;
  width: 400px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3)
}

.small-content-wrapper {
  width: 400px;
}

// Bootstrap Addons
.panel-actions {
  float:right;
  margin-right:-15px;
  a {
    border-left: 1px solid $tableBg;
    color:#fff;
    display:inline-block;
    font-size:20px;
    line-height: 50px;
    padding:0 16px;
    &:hover {
      background-color:$tableBg;
      color:$panelHeaderBg;
    }
  }
}

// OO Styles
.centeredContainer {
  float:none;
  margin-left: auto;
  margin-right: auto;
}