@import 'grid';
@import 'colors';
@import 'type';
@import 'alerts';
@import 'buttons';
@import 'forms';
@import 'helpers';
@import 'glyphicons';

// Layout
body {
  background:$bodyBg image-url('furley_bg.png');
  color: $defaultButtonText;
}

body, html {
  height: 100%;
  min-height: 100%;
}

header {
  background: $headerBg;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  color: $bodyBg;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-wrapper {
  letter-spacing: 1px;
  line-height: 2.25em;
  font-size: $headerEm;
  font-weight: 300;
  width: $maxContainerWidth;
}

.content-wrapper {
  height: 100%;
  min-height: 100%;
  width:100%;
}

.sidebar {
  background: $bodyText;
  float: left;
  min-height: 100%;
  width: $sidebarContainerWidth;
}
.main {
  margin-left: $sidebarContainerWidth;
  min-height: 100%;
}

// Breadcrumbs
.breadcrumb-bar > th {
  background: $breadcrumbBg;
}
.breadcrumb-bar .breadcrumbs {
  color: $breadcrumbColor;
  font-weight: normal;
  a {
    color: $breadcrumbLinkColor;
  }
}
.breadcrumb-bar > th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.breadcrumb-bar > th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}

.panel {
  background: #fff;
  padding: 1em;
}
// Bootstrap Addons
.panel-actions {
  float:right;
  margin-right:-15px;
  a {
    border-left: 1px solid $tableBg;
    color:#fff;
    display:inline-block;
    font-size:20px;
    line-height: 50px;
    padding:0 16px;
    &:hover {
      background-color:$tableBg;
      color:$panelHeaderBg;
    }
  }
}


// .panel .alert {
//   margin: 0.5em;
// }
// .panel-full-padding .alert,
// .panel-padded .alert, {
//   margin: 0 0 1em 0;
// }
// .panel-padded {
//   // Bottom padding comes from content
//   padding: 1em 1em 0 1em;
// }
// .panel-full-padding {
//   padding: 1em;
// }
// .panel-block-link {
//   padding: 0.5em;
//   display:block;
//   border-bottom: 1px solid $tableBorder;

//   &:last-child {
//     border: 0;
//   }
// }