@import 'colors';
@import 'type';

.container {
  padding-top: 150px;
}

.home-options {
  width: 400px;
}

.tagline {
  font-size: $largePx;
  font-weight: 300;
  letter-spacing: 1px;
  margin:0.25em 0 1em 0;
}
.spacer-text {
  padding: 0.5em 0;
  margin: 0;
  font-style: italic;
}