@import '../common/colors';
@import '../common/type';

.alert {
  font-size: newEmCalc(1, 1.2);
  padding: 0.5em 0.75em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 0.4em;
  background: $defaultBodyBg;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 1em;
}
.alert-dismissable .close {
  position: relative;
  right: -0.5em;
  color: inherit;
}
.alert-success {
  border-color: $successButtonBg;
  color: $successButtonBg;
}
.alert-info {
  border-color: $infoButtonBg;
  color: $infoButtonBg;
}
.alert-warning {
  border-color: $dangerButtonBg;
  color: $dangerButtonBg;
}
.alert-danger {
  border-color: $dangerButtonBg;
  color: $dangerButtonBg;
}

.close {
  float: right;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.70;
  filter: alpha(opacity=70);
}
.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}
button.close {
  padding: 0;
  color: inherit;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
