@import '../common/colors';
@import '../common/type';

.btn,
a.btn, a.btn:visited,
input[type="submit"].btn,
input[type="reset"].btn {
  color: $defaultButtonText;
  background-color: $defaultButtonBg;
  border: 0;
  border-radius: 0.3em;
  border: 1px solid transparent;
  border-color: $inputBorderColor;
  font-size: emCalc($emBaseInPx);
  display: inline-block;
  padding: 0.75em 1.5em;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  &:focus {
    outline: none;
    border-color: $inputFocusBorderColor;
  }
  &:hover {
    color: $primaryButtonText;
    background-color: $inputBorderColor;
  }
  &:active {
    color: $primaryButtonText;
    background-color: $primaryButtonBg;
    border-color: $primaryButtonBg;
  }

  &.btn-primary {
    color: #fff;
    background: $primaryButtonBg;
    border-color: $primaryButtonBg;

    &:hover {
      background: $primaryButtonHighlight;
    }
    &:active, &:focus {
      background: $defaultButtonText;
    }
  }
  &.btn-success {
    color: $primaryButtonText;
    background: $successButtonBg;
    border-color: $successButtonHighlight;

    &:hover {
      background: $successButtonHighlight;
    }
    &:active, &:focus {
      background: $defaultButtonText;
    }
  }
  &.btn-danger {
    color: $primaryButtonText;
    background: $dangerButtonBg;
    border-color: $dangerButtonHighlight;

    &:hover {
      background: $dangerButtonHighlight;
    }
    &:active, &:focus {
      background: $defaultButtonText;
    }
  }
  &.btn-info {
    color: $primaryButtonText;
    background: $infoButtonBg;
    border-color: $infoButtonHighlight;

    &:hover {
      background: $infoButtonHighlight;
    }
    &:active, &:focus {
      background: $defaultButtonText;
    }
  }
  &.btn-neutral {
    color: $bodyText;
    background: $neutralButtonBg;

    &:hover {
      background: $neutralButtonHighlight;
    }
    &:active, &:focus {
      color: $bodyBg;
      background: $defaultButtonText;
    }
  }
  &.btn-link {
    color: $link;
    background: transparent;
    border-color: transparent;
  }
  &.btn-small {
    font-size: newEmCalc(1, 1.2);
    padding: 0.5em 1.5em;
  }
  &.icon-only {
    font-size: newEmCalc(1, 1.2);
    padding: 0.3em 0.5em 0.25em;

    .glyphicon {
      margin:0;
    }
  }
}