@import '../common/colors';

.rating-bg {
  background-color: $tableBorder;

  .rating-bar {
    background-color: #FFC200;
    color: $bodyBg;
    height:1.25em;
    line-height: 1.25em;
    min-width: 4em;
    padding: 0 0.5em;
    position:relative;
    text-align: right;

    &:after {
      border-bottom: 8px solid transparent;  /* left arrow slant */
      border-top: 8px solid transparent; /* right arrow slant */
      border-left: 8px solid #FFC200; /* bottom, add background color here */
      content: " ";
      font-size: 0;
      height: 0;
      line-height: 0;
      position: absolute;
      top: 0;
      right: -8px;
      width: 0;
    }
  }
}