@import '../common/colors';
@import '../common/helpers';

.navigation {
  background: $tableBorder;
  border-top: 3px solid $tableBorder;
  clear: both;
  list-style: none;
  margin: 1em -3em 1em -3em;
  padding: 0 3em;
  @include clearfix;

  li {
    display: block;
    float: left;

    a {
      padding: 1em 1.5em;
      border-radius: 0;
    }
    // border-bottom: 1px solid $ssidebarLinkColor;
    &.active {
      background: $bodyBg;
    }
  }
  li.active a {
    color: $bodyText;
    // background: $tableBorder;
    // border-color: $tableBorder;
  }
}

.tab-content {
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}