@import '../common/colors';
@import '../common/helpers';

.navigation {
  clear: both;
  list-style: none;
  margin: 1em 0;
  padding: 0;
  @include clearfix;

  li {
    display: block;
    float: left;
    border-bottom: 1px solid $sidebarLinkColor;
    &.active {
      border: 1px solid $sidebarLinkColor;
      border-bottom: none;
    }
  }
  li.active a {
    color: $bodyText;
    // background: $tableBorder;
    // border-color: $tableBorder;
  }
}

.tab-content {
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}