@import '../common/colors';
@import '../common/helpers';

.navigation {
  background: $tableBorder;
  border-top: 3px solid $tableBorder;
  clear: both;
  list-style: none;
  margin: 1em -3em 1em -3em;
  padding: 0 3em;
  @include clearfix;

  li {
    display: block;
    float: left;

    a,
    a:visited {
        background-color: $defaultButtonBg;
        display: inline-block;
        padding: 1em 1.5em;
        text-decoration: none;
    }
    &.active {
      background: $bodyBg;
    }
  }
  li.active a,
  li.active a:visited,
  li.active a:hover,
  li.active a:active {
    color: $bodyText;
  }
}

.tab-content {
  padding: 1.5em 0;
  .tab-pane {
    display: none;
    &.active {
      display: block;
    }
  }
}